body {
    margin: 20px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 20px;
}

.box {
    width: 10px;
    height: 10px;
    border-width: 10px;
    border-color: black;
    background-color: yellowgreen;
    margin: 0.5px;
}

container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.break {
    width: 0;
    flex-basis: 100%;
}

#clear-button {
    width: 100px;
    height: 50px;
    font-size: larger;
}